h2 {
    text-align: left;
    width: 50%;
    margin: auto;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
    width: 50%;
    margin: auto;
}

li {
    font-size: 1rem;
    padding: 0.625rem;
    line-height: 2rem;
    border: 1px solid #777;
    border-bottom: 0;
}
ul:last-child {
    border-bottom: 1px solid #777;
}

.label {
    display: flex;
    justify-content: flex-start;
}

.item {
    width: 40%;
    text-align: left;
    margin-left: 1rem;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

a {
    display: block;
    text-align: left;
    margin-left: 1rem;
}

button {
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #E6E6E6;
    color: black;
    border: 2px solid grey;
    width: 130px;
  }

button:hover {
    background-color: #555555;
    color: white;
}
button:focus {
    outline:0;
}